# Milestones 1 - CODA 11

### Import Libaries

In [7]:
# data manipulation or dataframe
import pandas as pd

# webscraping
from selenium import webdriver
from bs4 import BeautifulSoup

## Steps

### 1. Assign WebDriver

In [15]:
from selenium.webdriver.edge.service import Service
service = Service(r"C:\Users\ASUS\OneDrive\Desktop\web scraping\msedgedriver.exe")
driver = webdriver.Edge(service=service)

### 2. Access Website

In [16]:
# link
url = 'https://www.ikea.co.id/in/penawaran/produk-terlaris'
#url = 'https://www.masarishop.com/sale.html?cat=3754'

# access the website
driver.get(url)

### 3. Fetch HTML

In [17]:
# fetch html components
html = driver.page_source

### 4. Parse HTML Components

In [18]:
# parse
soup = BeautifulSoup(html, "html.parser")

### A. Extract

#### Nama Produk

```html
<span class="itemFacts font-weight-normal">Selimut kecil, abu-abu, 120x160 cm</span>
```

In [24]:
# get element
el_names = soup.find_all('span', {"class", "itemFacts font-weight-normal"})

# empty list
names = []

for name in el_names:
    names.append(name.get_text())

names

['Selimut kecil, abu-abu, 120x160 cm',
 'Tanaman tiruan dalam pot, oregano, 9 cm',
 'Kotak, set isi 6, putih',
 'Kotak, set isi 6, abu-abu tua',
 'Dispenser sabun & pembersih tangan, krem',
 'Kantong belanja, besar, biru, 55x37x35 cm/71 l',
 'Kantong belanja, medium, biru, 45x18x45 cm/36 l',
 'Pengait dengan plastik isap, putih',
 'Boneka, ikan hiu, 100 cm',
 'Boneka, gajah/abu-abu',
 'Rak sepatu, putih, 60x26x40 cm',
 'Kabinet/tempat sepatu, putih, 52x18x39 cm',
 'Botol dengan penutup, kaca bening, 0.5 l',
 'Gantungan, hitam',
 'Tempat untuk handphone, abu-abu',
 'Gunting, set isi 2',
 'Stoples dengan penutup, kaca bening, 1 l',
 'Sikat botol, putih',
 'Tempat sikat gigi + plastik hisap, putih',
 'Gelas, kaca bening, 27 cl',
 'Tanaman tiruan dalam pot, dalam/luar ruang/digantung, 9 cm',
 'Gelas, kaca bening, 17 cl',
 'Botol dengan penutup, kaca bening, 1 l',
 'Botol semprot, putih, 35 cl',
 'Bingkai, putih, 21x30 cm',
 'Gayung air, putih',
 'Kantong yang dapat ditutup, merah muda/hijau, 1/0.4 l',
 'Refill untuk lint roller',
 'Sendok, warna campuran',
 'Sarung tangan pembersih, kuning cerah/putih pudar, m',
 'Peralatan makan, set isi 12',
 'Lilin kecil, 4 jam',
 'Lampu kerja, abu-abu tua/putih',
 'Mug, matt hijau, 37 cl',
 'Sendok, baja tahan karat, 19 cm',
 'Gelas, kaca bening, 35 cl 4 –p',
 'Vas, kaca bening, 8 cm',
 'Pengering piring, putih pudar, 48 cm',
 'Tempat sampah, hitam, 10 l',
 'Mug, krem, 30 cl',
 'Karafe dengan penutup, kaca bening/gabus, 1 l',
 'Kotak dengan penutup, merah muda/toska, 17x10 cm',
 'Bingkai, putih, 13x18 cm',
 'Mug, warna campuran',
 'Unit rak , putih, 60x148 cm',
 'Alas laci, transparan, 150 cm',
 'Mangkuk nasi, putih, 11 cm',
 'File majalah, putih',
 'Gantungan, putih/abu-abu',
 'Kotak makan dengan tutup, biru, 0.6 l',
 'Unit rak, putih, 37x23x101 cm',
 'Mangkuk, tepi bulat putih, 16 cm',
 'Unit rak sudut dengan plastik isap, putih',
 'Piring kecil, putih, 19 cm',
 'Peralatan makan, set isi 18, warna campuran',
 'Sendok, baja tahan karat, 19 cm',
 'Kantong yang dapat ditutup, aneka ukuran/aneka warna, 6/4.5 l',
 'Mug, toska tua, 25 cl',
 'Bantalan kursi, putih pudar, 50x50 cm',
 'Jam dinding, hitam, 28 cm',
 'Baki, bambu, 20x28 cm',
 'Piring cekung, putih, 20 cm',
 'Gantungan kunci, kecil putih, 9x7 cm',
 'Gantungan handuk, baja tahan karat, 67 cm',
 'Keranjang dg plastik isap, putih',
 'Kotak dengan penutup, transparan, 17x10 cm',
 'Tanaman tiruan dengan pot, dalam/luar ruang sukulen, 6 cm 3 –p',
 'Alas panci, gabus, 19 cm',
 'Gantungan, putih',
 'Perlengkapan mandi, set isi 3, putih',
 'Tempat cucian dengan stand, putih, 50 l',
 'Piring, warna campuran',
 'Boneka, bayi hiu, 55 cm',
 'Kantong yang dapat ditutup, berpola/hitam kuning, 1/0.4 l',
 'Duvet, sedikit hangat, 150x200 cm',
 'Bingkai, hitam, 21x30 cm',
 'Batang tirai shower, putih, 120-200 cm',
 'Spons, abu-abu-hijau',
 'Troli, putih, 26x48x77 cm',
 'Dispenser sabun & pembersih tangan, putih',
 'Piring, putih, 25 cm',
 'Jemuran, dalam/luar ruang, putih',
 'Mangkuk, putih, 15 cm',
 'Tempat sampah, putih, 10 l',
 'Vas, kaca bening, 17 cm',
 'Garpu, baja tahan karat, 19 cm',
 'Jam dinding, putih, 25 cm',
 'Tempat sampah dengan penutup, hitam, 8 l',
 'Rol pembersih pakaian, abu-abu',
 'Lampu lantai/baca, aluminium efek krom',
 'Boneka, krem, 21 cm',
 'Gantungan kunci, kecil merah muda, 9x7 cm',
 'Pembuat kopi/teh, kaca/baja tahan karat, 0.4 l',
 'Pengering sayuran, putih',
 'Mangkuk saji, putih, 23 cm',
 'Tanaman tiruan dalam pot, dalam/luar ruang digantung/eucalyptus, 9 cm',
 'Tirai shower, putih, 180x200 cm',
 'Stoples dengan penutup, kaca bening, 0.5 l',
 'Mangkuk, matt abu-abu tua, 19 cm',
 'Kantong yang dapat ditutup, berpola hitam/kuning, 2.5/1.2 l',
 'Rak pakaian, putih',
 'Batang untuk gantungan pakaian, putih, 60-90 cm',
 'Tanaman tiruan dalam pot, anggrek putih, 9 cm',
 'Unit rak , abu-abu tua, 60x148 cm',
 'Duvet, sedikit hangat, 150x200 cm',
 'Unit laci, hitam',
 'Tanaman tiruan dalam pot, dalam/luar ruang rumput, 9 cm',
 'Mug, abu-abu tua, 30 cl',
 'Mangkuk, warna campuran',
 'Gunting, set isi 2, baja tahan karat abu-abu/abu-abu toska',
 'Klip segel, set isi 26, warna campuran',
 'Tanaman tiruan dalam pot, timi, 9 cm',
 'Cangkir kopi dan tatakan, putih, 20 cl',
 'Garpu, baja tahan karat, 19 cm',
 'Dek lantai, luar ruang, abu-abu tua, 0.81 m²',
 'Kotak dengan penutup, transparan, 34x21 cm',
 'Lampu lantai, hitam/putih, 150 cm',
 'Peralatan dapur, set isi 5, abu-abu',
 'Rak pakaian, putih, 99x152 cm',
 'Stoples bumbu, kaca/warna aluminium, 15 cl',
 'Gantungan, alami',
 'Bingkai, putih, 10x15 cm',
 'Kotak, putih, 34x24 cm',
 'Tempat dan sikat toilet, putih',
 'Kantong yang dapat ditutup, berpola/biru, 1/0.4 l',
 'Lampu kerja, abu-abu tua',
 'Tempat kantong plastik, putih',
 'Bantal, tinggi, 50x80 cm',
 'Gantungan untuk pintu, putih',
 'Unit laci, putih',
 'Baki, abu-abu, 37x29 cm',
 'Baterai yang dapat diisi ulang, hr03 aaa 1.2v, 750mah',
 'Gantungan handuk dg plastik hisap, putih',
 'Bangku, putih, 45 cm',
 'Tanaman tiruan dalam pot, dalam/luar ruang monstera, 12 cm',
 'Tempat dan sikat toilet, hitam',
 'Pengering piring, putih',
 'Karafe, kaca bening, 1.0 l',
 'Handuk mandi, abu-abu, 55x120 cm',
 'Gunting, baja tahan karat/hitam',
 'Kantong yang dapat ditutup, berpola/hijau, 6/4.5 l',
 'Perkakas dapur, set isi 3, hitam',
 'Kantong yang dapat ditutup, aneka ukuran/aneka warna, 2.5/1.2 l',
 'Tempat penyimpanan , 55x49x19 cm',
 'Mug, tembikar putih, 25 cl',
 'Kursi, biru']

#### Harga Produk

```html
<span class="config_price diff minimum-show special-price">IDR 9,870,000</span>
<span class="<span class="old-price>IDR 14,100,000</span>">IDR 14,100,000</span>
<span data-price="49900"><span class="currency">Rp</span>49.900</span>
```

In [ ]:
# get element
el_price = soup.find_all("span", {"data-price": True})

# empty list
prices = []

for price in el_price:
    price_value = price.get('data-price')  # Ambil nilai dari atribut
    prices.append(price_value)

prices

['49900',
 '79900',
 '89900',
 '89900',
 '99900',
 '9900',
 '9900',
 '29900',
 '199000',
 '199000',
 '199000',
 '499000',
 '19900',
 '29900',
 '9900',
 '49900',
 '29900',
 '14900',
 '29900',
 '69900',
 '99900',
 '19900',
 '24900',
 '19900',
 '19900',
 '29900',
 '39900',
 '29900',
 '7900',
 '19900',
 '49900',
 '99900',
 '79900',
 '29900',
 '49900',
 '99900',
 '14900',
 '29900',
 '19900',
 '29900',
 '49900',
 '49900',
 '9900',
 '19900',
 '299000',
 '39900',
 '9900',
 '89900',
 '49900',
 '19900',
 '199000',
 '49900',
 '49900',
 '9900',
 '19900',
 '59900',
 '59900',
 '19900',
 '100000',
 '99900',
 '99900',
 '9900',
 '14900',
 '169000',
 '79900',
 '49900',
 '49900',
 '29900',
 '89900',
 '39900',
 '49900',
 '19900',
 '99900',
 '39900',
 '100000',
 '19900',
 '99900',
 '19900',
 '249000',
 '24900',
 '9900',
 '149000',
 '9900',
 '19900',
 '29900',
 '69900',
 '29900',
 '39900',
 '9900',
 '249000',
 '19900',
 '14900',
 '99900',
 '79900',
 '19900',
 '99900',
 '39900',
 '24900',
 '39900',
 '49900',
 '249000',
 '79900',
 '99900',
 '299000',
 '200000',
 '249000',
 '49900',
 '29900',
 '19900',
 '19900',
 '29900',
 '79900',
 '49900',
 '49900',
 '245000',
 '79900',
 '169000',
 '79900',
 '149000',
 '29900',
 '79900',
 '19900',
 '79900',
 '17900',
 '39900',
 '199000',
 '29900',
 '129000',
 '44900',
 '249000',
 '29900',
 '99900',
 '129000',
 '80000',
 '129000',
 '17900',
 '59900',
 '19900',
 '49900',
 '9900',
 '59900',
 '49900',
 '49900',
 '29900',
 '19900',
 '450000']

#### Nama Toko

```html
<a class="itemName" href="/in/produk/bantal-kursi-dan-selimut-kecil/selimut-kecil/vitmossa-art-70304890">VITMOSSA</a>
```

In [ ]:
# get element
el_toko = soup.find_all("a", {"class":"itemName"})

# empty list
nama_toko = []

for kota in el_toko:
    nama_toko.append(kota.get_text())

nama_toko

['VITMOSSA',
 'FEJKA',
 'SKUBB',
 'SKUBB',
 'EKOLN',
 'FRAKTA',
 'FRAKTA',
 'TISKEN',
 'BLÅHAJ',
 'JÄTTESTOR',
 'BIBBLIS',
 'TRONES',
 'KORKEN',
 'SPRUTTIG',
 'YUPPIENALLE',
 'MÄRKBART',
 'KORKEN',
 'MEDELVÅG',
 'TISKEN',
 'POKAL',
 'FEJKA',
 'REKO',
 'KORKEN',
 'TOMAT',
 'YLLEVAD',
 'GRUMLAN',
 'ISTAD',
 'BÄSTIS',
 'KALAS',
 'RINNIG',
 'MOPSIG',
 'GLIMMA',
 'SVALLET',
 'FÄRGKLAR',
 'FÖRNUFT',
 'POKAL',
 'VILJESTARK',
 'STÄMLING',
 'FNISS',
 'DINERA',
 'IKEA 365+',
 'GLIS',
 'YLLEVAD',
 'KALAS',
 'LERBERG',
 'VARIERA',
 'OFTAST',
 'DRÖNJÖNS',
 'TRYSSE',
 'PRUTA',
 'VESKEN',
 'IKEA 365+',
 'TISKEN',
 'OFTAST',
 'KALAS',
 'DRAGON',
 'ISTAD',
 'FÄRGRIK',
 'FJÄDRAR',
 'PLUTTIS',
 'OSTBIT',
 'OFTAST',
 'KNÖLIG',
 'BROGRUND',
 'TISKEN',
 'GLIS',
 'FEJKA',
 'HEAT',
 'BUMERANG',
 'STORAVAN',
 'JÄLL',
 'KALAS',
 'BLÅHAJ',
 'ISTAD',
 'SILVERTOPP',
 'YLLEVAD',
 'BOTAREN',
 'SVAMPIG',
 'HORNAVAN',
 'TACKAN',
 'OFTAST',
 'JÄLL',
 'OFTAST',
 'FNISS',
 'PÅDRAG',
 'MARTORP',
 'TROMMA',
 'HÖLASS',
 'BÄSTIS',
 'LERSTA',
 'FABLER BJÖRN',
 'KNÖLIG',
 'UPPHETTA',
 'UPPFYLLD',
 'OFTAST',
 'FEJKA',
 'BJÄRSEN',
 'KORKEN',
 'FÄRGKLAR',
 'ISTAD',
 'RIGGA',
 'MULIG',
 'FEJKA',
 'LERBERG',
 'SÄFFEROT',
 'LENNART',
 'FEJKA',
 'DINERA',
 'KALAS',
 'SVÄRDFISK',
 'BEVARA',
 'FEJKA',
 'VÄRDERA',
 'FÖRNUFT',
 'RUNNEN',
 'GLIS',
 'BARLAST',
 'FULLÄNDAD',
 'MULIG',
 'RAJTAN',
 'BUMERANG',
 'FIKONTRÄD',
 'UPPDATERA',
 'BOLMEN',
 'ISTAD',
 'TERTIAL',
 'VARIERA',
 'LAPPTÅTEL',
 'ENUDDEN',
 'LENNART',
 'TILLGÅNG',
 'LADDA',
 'TISKEN',
 'MARIUS',
 'FEJKA',
 'BOLMEN',
 'FLUNDRA',
 'KARAFF',
 'LUDDVIAL',
 'MÅNÖGA',
 'ISTAD',
 'GNARP',
 'ISTAD',
 'PÄRKLA',
 'FÄRGRIK',
 'TEODORES']

#### Keterangan 

```html
<div class="sticker_message" style="color: rgb(255, 255, 255);">Produk online terlaris</div>
```

In [ ]:
# get element
el_keterangan = soup.find_all('div', {'class':'sticker_message'})

# empty list
semua_keterangan = []

for keterangan in el_keterangan:
    semua_keterangan.append(keterangan.get_text())

semua_keterangan

In [59]:
# mematikan/mengeluarkan driver
driver.quit()

#### Create Into a Dataframe

In [49]:
data = pd.DataFrame(
    {
        'nama produk':names,
        "harga produk": prices,
        "nama toko" : nama_toko,
        "keterangan" : keterangan
    }
)
data

,nama produk,harga produk,nama toko,keterangan
0,"Selimut kecil, abu-abu, 120x160 cm",49900,VITMOSSA,Produk online terlaris
1,"Tanaman tiruan dalam pot, oregano, 9 cm",79900,FEJKA,Produk online terlaris
2,"Kotak, set isi 6, putih",89900,SKUBB,Produk online terlaris
3,"Kotak, set isi 6, abu-abu tua",89900,SKUBB,Produk online terlaris
4,"Dispenser sabun & pembersih tangan, krem",99900,EKOLN,Produk online terlaris
...,...,...,...,...
141,"Perkakas dapur, set isi 3, hitam",49900,GNARP,Produk online terlaris
142,"Kantong yang dapat ditutup, aneka ukuran/aneka...",49900,ISTAD,Produk online terlaris
143,"Tempat penyimpanan , 55x49x19 cm",29900,PÄRKLA,Produk online terlaris
144,"Mug, tembikar putih, 25 cl",19900,FÄRGRIK,Produk online terlaris
145,"Kursi, biru",450000,TEODORES,Produk online terlaris

### B. Transfrom

#### Eksplorasi Sederhana

In [42]:
data.head(5)

,nama produk,harga produk,nama toko,keterangan
0,"Selimut kecil, abu-abu, 120x160 cm",49900.0,VITMOSSA,Produk online terlaris
1,"Tanaman tiruan dalam pot, oregano, 9 cm",79900.0,FEJKA,Produk online terlaris
2,"Kotak, set isi 6, putih",89900.0,SKUBB,Produk online terlaris
3,"Kotak, set isi 6, abu-abu tua",89900.0,SKUBB,Produk online terlaris
4,"Dispenser sabun & pembersih tangan, krem",99900.0,EKOLN,Produk online terlaris

In [43]:
data.tail(5)

,nama produk,harga produk,nama toko,keterangan
141,"Perkakas dapur, set isi 3, hitam",49900.0,GNARP,Produk online terlaris
142,"Kantong yang dapat ditutup, aneka ukuran/aneka...",49900.0,ISTAD,Produk online terlaris
143,"Tempat penyimpanan , 55x49x19 cm",29900.0,PÄRKLA,Produk online terlaris
144,"Mug, tembikar putih, 25 cl",19900.0,FÄRGRIK,Produk online terlaris
145,"Kursi, biru",450000.0,TEODORES,Produk online terlaris

In [44]:
data.sample(5)

,nama produk,harga produk,nama toko,keterangan
70,"Tempat cucian dengan stand, putih, 50 l",49900.0,JÄLL,Produk online terlaris
24,"Bingkai, putih, 21x30 cm",19900.0,YLLEVAD,Produk online terlaris
117,"Peralatan dapur, set isi 5, abu-abu",79900.0,FULLÄNDAD,Produk online terlaris
124,"Kantong yang dapat ditutup, berpola/biru, 1/0.4 l",39900.0,ISTAD,Produk online terlaris
103,"Unit rak , abu-abu tua, 60x148 cm",299000.0,LERBERG,Produk online terlaris

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama produk   146 non-null    object
 1   harga produk  146 non-null    object
 2   nama toko     146 non-null    object
 3   keterangan    146 non-null    object
dtypes: object(4)
memory usage: 4.7+ KB

In [50]:
data['harga produk'] = data["harga produk"].astype(int)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama produk   146 non-null    object
 1   harga produk  146 non-null    int64
 2   nama toko     146 non-null    object
 3   keterangan    146 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.7+ KB

In [36]:
data.describe()

        harga produk
count     146.000000
mean    74157.534247
std     80700.971097
min      7900.000000
25%     19900.000000
50%     49900.000000
75%     97400.000000
max    499000.000000

#### Membuat file csv

In [56]:
data.to_csv('data_ikea_produk_terlaris.csv', index=False)

print("Data berhasil disimpan ke 'data_ikea_produk_terlaris.csv'")

Data berhasil disimpan ke 'data_ikea_produk_terlaris.csv'

In [57]:
df = pd.read_csv('data_ikea_produk_terlaris.csv')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama produk   146 non-null    object
 1   harga produk  146 non-null    int64
 2   nama toko     146 non-null    object
 3   keterangan    146 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.7+ KB